
p.blocktext {
    margin-left: auto;
    margin-right: auto;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

body {
    margin-left: auto;
    margin-right: auto;
    wigth: 70%}
figcaption {
    font-size:12px ;
    font-style: italic;
    text-align: center
    }
figure {
  font-style: italic;
  float: right;
}